layout python3

echo "Installing pip packages..."
pip install awscli pretf
echo

echo "Installing terraform..."
asdf plugin-list | grep terraform > /dev/null || asdf plugin-add terraform
asdf install
echo

export TOP=true
